[submodule "data/mly"]
	path = data/mly
	url = https://github.com/ronnywang/TWLegislativeYuanData.git
[submodule "unoconv"]
	path = unoconv
	url = https://github.com/dagwieers/unoconv.git
[submodule "data/twly"]
	path = data/twly
	url = https://github.com/g0v/twly_crawler.git
